@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100&display=swap');

#faixaZero{

    background: #ffffff;
    min-height: 19px; 
}

#primeiraFaixa{

    background: #646464;
    min-height: 19px; 
}

#segundaFaixa{

    background-color: #9F9F9F;
    min-height: 20px;
}

#menuPrincipal{

    background-color: #F3F3F3;
    text-align: right;
    height: auto;
}

#menuPrincipal li{

    display: inline; 
}
